@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

/* Reset */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	font-family: 'Muli', sans-serif;
}

.image-container {
	display: flex;
	width: 90vw;
	gap: 1rem;
}

.card {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 3rem;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	position: relative;
	transition: flex 0.75s ease-in;
}

.card h3 {
	opacity: 0;
	margin: 0;
	font-size: 1.5rem;
	position: absolute;
	left: 1.25rem;
	bottom: 1.5rem;
}

.card.active {
	flex: 5;
}

.card.active h3 {
	opacity: 1;
	transition: opacity 0.4s ease-in 0.4s;
}

/* Cards background */

.card-1 {
	background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.card-2 {
	background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.card-3 {
	background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.card-4 {
	background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.card-5 {
	background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

@media (max-width: 30rem) {
	.image-container {
		width: 100vw;
	}

	.card-4,
	.card-5 {
		display: none;
	}
}
